html {
    font-family: sans-serif;
    font-size: 16pt;
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
}

.navbar {
    background-color: #444;
}
.navbar .brand {
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 5pt 15px; /* uhrzeiger vorstellen! */
    display: inline-block;
}

h1 {
    font-size: 2.5em;
}

/** Navigationslinks: punkt weg bekommen (list-style-type), nebeneinander (display: inline, inline-block und block), farbe ändern, unterstreichen, normal **/
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}
.navbar ul li {
    display: inline-block; /** inline hat keine width und keine paddings, in dem fall immer auf inline-block **/
    /** alternative:
    display: inline-block;
    **/
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display:inline-block;
    padding-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    height: 37pt;
    margin: 0px 15px;
}

.navbar ul li a:hover {
    background-color: #666;
}

.container {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10pt;
    padding-right: 10pt;
}
.teaser img {
    width: 100vw;
    height: 100%; /* vorsicht bei width + height verwendung, verzerrt bilder! */
    object-fit: cover;  /* erlaubt entzerren, durch füllen der fläche mit teilausschnitt */
    object-position: center;
}

.teaser {
    border-bottom: 5pt solid orange;
    height: 50vh;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

.newsletter {
    background-color: #EEE;
    padding-top: 15pt;
    padding-bottom: 25pt;
}

/** display grid und display flex */
/** label, input als inline-block im display, dadurch breiten */
.newsletter label {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
.newsletter input {
    width: 80%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 2pt 10pt;
    border: 1px solid gray;
    border-radius: 5px;
}
.newsletter input[type="checkbox"] {
    width: auto;
    margin-left: 20%;
}

.newsletter input[type="checkbox"] + label {
    display: inline;
    padding-left: 10pt;
    
}

.newsletter button {
    color: white;
    background-color: orange;
    border: 0px;
    font-size: 1.25em;
    padding: 5pt 15pt;
    margin-left: 20%;
}

.newsletter div {
    margin-bottom: 10pt;
}

/** wie berechnet der browser die width und height?
    standardbreite eines elements ist width + border-left + border-right + padding-left + padding-right */
/** einfache lösung wenn padding / border die größe ungenau bestimmen lässt -> box-sizing auf border-box ändern, damit ist width inkl. border-left, border-right, padding-left und padding-right */

.footer {
    background-color: #BBB;
    padding-top: 10pt;
    padding-bottom: 10pt;
    position: fixed;
    /** für positionierung top, left, right, bottom */
    bottom: 0px;
    width: 100%;
    color: #666;
    border-top: 5pt solid orange;
}

.footer p {
    text-align: center;
}

.footer a {
    color: inherit;
}

.content {
    padding-bottom: 70pt;
}


@media screen and (max-width: 900px) {
    .container {
        width: 100vw;
    }
    .newsletter input, .newsletter label {
        width: 100%;
        display: block;
        text-align: left;
    }
    .newsletter input[type="checkbox"] {
        display: inline;
        width: auto;
        margin-left: 0;
    }
}


#news p:hover {
    background-color: #EEE;
    cursor: pointer;
}
#news p.more::after {
    content: "More >";
    color: orange;
    margin-left: 5pt;
    float: right;
}

.newsletter .success-input {
    border-color: green;
}
.newsletter .error-input {
    border-color: red;
}
.newsletter .error-msg {
    color: red;
    font-size: 0.75em;
    padding-left: 20%;
}

@media screen and (max-width: 900px) {
    .newsletter .error-msg {
        padding-left: 0;
    }
}



#carousel {
    width: 100vw;
    height: 50vh;
    position: relative;
}

#carousel .states {
    position: absolute;
    bottom: 5vh;
    text-align: center;
    width: 100vw;
}
#carousel .states .dot {
    width: 20pt;
    height: 20pt;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 3pt;
    opacity: 0.5;
}
#carousel .states .dot:hover {
    opacity: 1;
    cursor: pointer;
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .navbar ul {
        float: none;
    }
    .navbar .container {
        text-align: center;
    }
}