html {
    font-family: sans-serif;
    font-size: 16pt
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #444;
}
.navbar .brand {
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 5pt 15px; /* uhrzeiger vorstellen! */
    display: inline-block;
}

h1 {
    font-size: 2.5em;
}

/** Navigationslinks: punkt weg bekommen (list-style-type), nebeneinander (display: inline, inline-block und block), farbe ändern, unterstreichen, normal **/
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}
.navbar ul li {
    display: inline-block; /** inline hat keine width und keine paddings, in dem fall immer auf inline-block **/
    /** alternative:
    display: inline-block;
    **/
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display:inline-block;
    padding-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    height: 37pt;
    margin: 0px 15px;
}

.navbar ul li a:hover {
    background-color: #666;
}

.container {
    width: 900px;
    margin: 0 auto;
}
.teaser img {
    width: 100vw;
    height: 50vh; /* vorsicht bei width + height verwendung, verzerrt bilder! */
    object-fit: cover;  /* erlaubt entzerren, durch füllen der fläche mit teilausschnitt */
    object-position: center;
}

.teaser {
    border-bottom: 5pt solid orange;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

/** Pseudoelemente: ::after, ::before */
.more a::after {
  content: ">";
  padding-left: 10px;
}
.more {
    text-align: right;
}




